@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

input, select, textarea {
  font-size: 30px;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900; /* full range */
    font-style: normal;
    font-display: swap;
  }

@theme {
  --breakpoint-xs: 25rem;

  --font-rubik: Rubik, sans-serif;
  
  /* Theme 1 */
  --color-mint: #3EB489;
  --color-mint-light: #77CAAC;
  

  /* Theme 2 */
  --color-hot-pink: #FF69B4;
  --color-bubblegum: #FFC1CC;

  /* Theme 3 */ 
  --color-azureish-white: #DCE5FD;
  --color-ghost-white: #F5F7FE;

  /* Other colours */
  --color-mint-white: #F5FCF9;
  --color-mint-dark: #0C241B;
  --color-primary: var(--color-mint);
  --color-secondary: var(--color-mint-light);
  --color-dark-green: #06120D;   /* Default text and icon color (very  dark green) */
  --color-light-grey: #5D6D7E; /* Secondary text and icon color (lighter grey) */
  --color-tertiary: #A3E4D7;  /* tertiary color, mint between 'mint' and 'mint-light' */
}

@layer components {
    .title {
        @apply font-rubik text-2xl xs:text-4xl md:text-5xl font-bold 
    }
    .menu-option {
        @apply font-rubik text-xl xs:text-2xl md:text-3xl font-semibold 
    }
    .item-text {
        @apply font-rubik text-lg xs:text-xl md:text-2xl font-medium 
    }
}


@layer utilities {
  ::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
  }
  html, body {
    scrollbar-width: none; /* Hides scrollbar */
  }
  html, body {
    -ms-overflow-style: none; /* Hides scrollbar */
  }
}
