@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

input, select, textarea {
  font-size: 30px;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900; /* full range */
    font-style: normal;
    font-display: swap;
  }

@theme {
  --breakpoint-xs: 25rem;
  --font-rubik: Rubik, sans-serif;
  --color-mint: #3EB489;
  --color-mint-light: #77CAAC;
  --color-mint-dark: #0C241B;
  --color-mint-cream:#EBF7F3;
  --color-mint-white: #F5FCF9;
  --color-primary: #06120D;   /* Default text and icon color (very  dark green) */
  --color-secondary: #5D6D7E; /* Secondary text and icon color (lighter grey) */
  --color-tertiary: #A3E4D7;  /* tertiary color, mint between 'mint' and 'mint-light' */
}

@layer components {
    .title {
        @apply font-rubik text-4xl lg:text-5xl font-bold text-primary
    }
    .menu-options {
        @apply font-rubik text-lg lg:text-xl font-semibold text-primary
    }
    .list-item {
        @apply font-rubik text-base lg:text-lg font-medium text-primary
    }
}


@layer utilities {
  ::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
  }
  html, body {
    scrollbar-width: none; /* Hides scrollbar */
  }
  html, body {
    -ms-overflow-style: none; /* Hides scrollbar */
  }
}
